[Unit]
Description=Product Consul Connect Proxies
After=network.target
StartLimitInterval=0

[Service]
Type=simple
User=ubuntu
ExecStart=/usr/local/bin/consul connect proxy -sidecar-for product
Restart=always
RestartDelay=5

[Install]
WantedBy=multi-user.target
